In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing as fch

D:\tools\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\tools\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
housevalue = fch()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to C:\Users\ThinkPad\scikit_learn_data

In [3]:
from sklearn.linear_model import LinearRegression as LR

In [23]:
X = pd.DataFrame(housevalue.data) #放入DataFrame中便于查看
 
y = pd.DataFrame(housevalue.target)

In [24]:
X.columns = housevalue.feature_names

In [25]:
X

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [26]:
type(y)

pandas.core.frame.DataFrame

In [27]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X,y,test_size=0.3,random_state=420)

In [28]:
for i in [Xtrain, Xtest]:
    i.index = range(i.shape[0])
    print(i.index)
 
Xtrain.shape

RangeIndex(start=0, stop=14448, step=1)
RangeIndex(start=0, stop=6192, step=1)

(14448, 8)

In [29]:
reg = LR().fit(Xtrain,Ytrain)
yhat = reg.predict(Xtest)
yhat

array([[1.51384887],
       [0.46566247],
       [2.2567733 ],
       ...,
       [2.11885803],
       [1.76968187],
       [0.73219077]])

In [21]:
type(Xtest)
Xtest

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,1.7656,42.0,4.144703,1.031008,1581.0,4.085271,33.96,-118.28
1,1.5281,29.0,5.095890,1.095890,1137.0,3.115068,39.29,-121.68
2,4.1750,14.0,5.604699,1.045965,2823.0,2.883555,37.14,-121.64
3,3.0278,52.0,5.172932,1.085714,1663.0,2.500752,37.78,-122.49
4,4.5000,36.0,4.940447,0.982630,1306.0,3.240695,33.95,-118.09
...,...,...,...,...,...,...,...,...
6187,4.7250,44.0,5.969945,0.975410,943.0,2.576503,37.94,-122.08
6188,2.8500,38.0,5.089347,1.089347,1080.0,3.711340,32.68,-117.06
6189,3.7857,39.0,5.663507,1.052133,1246.0,2.952607,34.06,-118.14
6190,3.7500,38.0,5.275229,0.981651,259.0,2.376147,38.72,-121.90
6191,1.9355,10.0,5.136555,1.105042,1262.0,2.651261,36.22,-119.36

In [31]:
print(reg.coef_)
[*zip(Xtrain.columns,reg.coef_[0])]

[[ 4.37358931e-01  1.02112683e-02 -1.07807216e-01  6.26433828e-01
   5.21612535e-07 -3.34850965e-03 -4.13095938e-01 -4.26210954e-01]]

[('MedInc', 0.4373589305968403),
 ('HouseAge', 0.010211268294494038),
 ('AveRooms', -0.10780721617317715),
 ('AveBedrms', 0.6264338275363783),
 ('Population', 5.216125353178735e-07),
 ('AveOccup', -0.0033485096463336094),
 ('Latitude', -0.4130959378947711),
 ('Longitude', -0.4262109536208467)]

In [17]:
reg.score(Xtest, Ytest)

0.6043668160178817